In [1]:
# Import Libraries and Dependencies
import pandas as pd

In [2]:
import os
print(os.getcwd())

C:\Users\larav\OneDrive\Desktop\Challenge Repo\athletic_sales_analysis\Starter_Code

### 1. Combine and Clean the Data
#### Import CSVs

In [4]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv('/Users/larav/OneDrive/Desktop/Challenge Repo/athletic_sales_analysis/Starter_Code/Resources/athletic_sales_2020.csv')
df_2021 = pd.read_csv('/Users/larav/OneDrive/Desktop/Challenge Repo/athletic_sales_analysis/Starter_Code/Resources/athletic_sales_2021.csv')

In [5]:
# Display the 2020 sales DataFrame
print("2020 Sales DataFrame:")
print(df_2020.head())

2020 Sales DataFrame:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [6]:
# Display the 2021 sales DataFrame
print("\n2021 Sales DataFrame:")
print(df_2021.head())

2021 Sales DataFrame:
    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

#### Check the data types of each DataFrame

In [8]:
# Check the 2020 sales data types.
print("\n2020 Sales Data Types:")
print(df_2020.dtypes)

2020 Sales Data Types:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [9]:
# Check the 2021 sales data types.
print("\n2021 Sales Data Types:")
print(df_2021.dtypes)

2021 Sales Data Types:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [11]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_df = pd.concat([df_2020, df_2021], ignore_index=True)

In [12]:
# Check if any values are null.
print("\nNull Values in Combined DataFrame:")
print(combined_df.isnull().sum())

Null Values in Combined DataFrame:
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [13]:
# Check the data type of each column
print("\nData Types in Combined DataFrame:")
print(combined_df.dtypes)

Data Types in Combined DataFrame:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [14]:
# Convert the "invoice_date" to a datetime datatype
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

C:\Users\larav\AppData\Local\Temp\ipykernel_11924\4103426645.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [15]:
# Confirm that the "invoice_date" data type has been changed.
print("\nData Type of 'invoice_date' after conversion:")
print(combined_df['invoice_date'].dtypes)

Data Type of 'invoice_date' after conversion:
datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [18]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
region_sales = combined_df.groupby(['region', 'state', 'city'])['quantity_sold'].sum().reset_index()
region_sales.rename(columns={'quantity_sold': 'Total_Products_Sold'}, inplace=True)


# Show the top 5 results.
top_region_sales = region_sales.sort_values(by='Total_Products_Sold', ascending=False).head(5)
print("\nTop 5 Regions by Total Products Sold:")
print(top_region_sales)

KeyError: 'Column not found: quantity_sold'

#### Using `pivot_table`

In [ ]:
# Show the number products sold for region, state, and city.
region_pivot_sales = combined_df.pivot_table(index=['region', 'state', 'city'], values='quantity_sold', aggfunc='sum')

# Rename the "units_sold" column to "Total_Products_Sold"
region_pivot_sales.rename(columns={'quantity_sold': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results.
top_region_pivot_sales = region_pivot_sales.sort_values(by='Total_Products_Sold', ascending=False).head(5)
print("\nTop 5 Regions by Total Products Sold (using Pivot Table):")
print(top_region_pivot_sales)

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
region_sales_totals = combined_df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()
region_sales_totals.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
# Show the top 5 results.
top_region_sales_totals = region_sales_totals.sort_values(by='Total Sales', ascending=False).head(5)
print("\nTop 5 Regions by Total Sales:")
print(top_region_sales_totals)

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
region_pivot_sales_totals = combined_df.pivot_table(index=['region', 'state', 'city'], values='total_sales', aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
region_pivot_sales_totals.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
top_region_pivot_sales_totals = region_pivot_sales_totals.sort_values(by='Total Sales', ascending=False).head(5)
print("\nTop 5 Regions by Total Sales (using Pivot Table):")
print(top_region_pivot_sales_totals)

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
retailer_sales = combined_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()
retailer_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
top_retailer_sales = retailer_sales.sort_values(by='Total Sales', ascending=False).head(5)
print("\nTop 5 Retailers by Total Sales:")
print(top_retailer_sales)

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
retailer_pivot_sales = combined_df.pivot_table(index=['retailer', 'region', 'state', 'city'], values='total_sales', aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
retailer_pivot_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
top_retailer_pivot_sales = retailer_pivot_sales.sort_values(by='Total Sales', ascending=False).head(5)
print("\nTop 5 Retailers by Total Sales (using Pivot Table):")
print(top_retailer_pivot_sales)

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [ ]:
# Filter the sales data to get the women's athletic footwear sales data.
women_footwear_sales = combined_df[combined_df['category'] == 'Women's Athletic Footwear']

#### Using `groupby`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
women_footwear_sales_grouped = women_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()
women_footwear_sales_grouped.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)


# Show the top 5 results.
top_women_footwear_sales = women_footwear_sales_grouped.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)
print("\nTop 5 Retailers by Women's Athletic Footwear Units Sold:")
print(top_women_footwear_sales)

#### Using `pivot_table`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
women_footwear_sales_pivot = women_footwear_sales.pivot_table(index=['retailer', 'region', 'state', 'city'], values='units_sold', aggfunc='sum')


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
women_footwear_sales_pivot.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)


# Show the top 5 results.
top_women_footwear_sales_pivot = women_footwear_sales_pivot.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)
print("\nTop 5 Retailers by Women's Athletic Footwear Units Sold (using Pivot Table):")
print(top_women_footwear_sales_pivot)

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [ ]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
women_footwear_daily = women_footwear_sales.pivot_table(index='invoice_date', values='total_sales', aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
women_footwear_daily.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table.
print("\nWomen’s Athletic Footwear Sales by Day:")
print(women_footwear_daily.head())

In [ ]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales_resampled = women_footwear_daily.resample('D').sum()


# Sort the resampled pivot table in descending order on "Total Sales".
top_daily_sales = daily_sales_resampled.sort_values(by='Total Sales', ascending=False)
print("\nTop Daily Sales of Women’s Athletic Footwear:")
print(top_daily_sales.head(10))

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales_resampled = daily_sales_resampled.resample('W').sum()


# Sort the resampled pivot table in descending order on "Total Sales".
top_weekly_sales = weekly_sales_resampled.sort_values(by='Total Sales', ascending=False)
print("\nTop Weekly Sales of Women’s Athletic Footwear:")
print(top_weekly_sales.head(10))